<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }} | Enterprise Desk</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
</head>
<body>
    <div class="shell">
        <aside class="sidebar">
            <div>
                <p class="eyebrow">OPERAÇÕES DE TI</p>
                <h1>Enterprise Desk</h1>
                <p class="sidebar-copy">Registre, acompanhe e gerencie chamados internos de forma simples e organizada.</p>
            </div>
            <nav class="sidebar-nav">
                {% if current_user %}
                    {% if current_user.role.value in ['admin', 'support_agent'] %}
                    <a href="/admin">Painel do Suporte</a>
                    {% endif %}
                    {% if current_user.role.value == 'requester' %}
                    <a href="/portal">Portal do Solicitante</a>
                    {% endif %}
                {% else %}
                   <!-- <a href="/login">Login</a> -->
                {% endif %}
               <!-- <a href="/docs" target="_blank" rel="noreferrer">Swagger</a>
                <a href="/redoc" target="_blank" rel="noreferrer">ReDoc</a>-->
            </nav>
            {% if current_user %}
            <div class="user-card">
                <span>Logado como</span>
                <strong>{{ current_user.name }}</strong>
                <small>{{ current_user.role.value }}</small>
                <a class="logout-link" href="/logout">Sair</a>
            </div>
            {% endif %}
        </aside>
        <main class="content">
            {% if message %}
            <div class="alert success">{{ message }}</div>
            {% endif %}
            {% if error %}
            <div class="alert error">{{ error }}</div>
            {% endif %}
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>
